div {
    text-align: center;
}

.btn>button {
    font-size: 25px;
}

body {
    font-size: 20px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100px;
    /* font-size: 25px; */
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: black;
}

.in {
    /* font-size: 25px; */
    text-align: justify;
    padding: 20px 30px;
    border-radius: 10px;
}

.in:active {
    color: rgb(55, 0, 255);
}

.out {
    background-color: rgba(184, 184, 184, 0.678);
    color: rgb(0, 0, 0);
    margin-right: 150px;
    margin-left: 150px;
    /* font-size: 25px; */
    text-align: justify;
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 50px;
}

.out::first-line {
    color: red;
}