* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    header {
        width: 100%;
        height: 100px;
        background-color: white;
    }
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        height: 100%;
    }
    .nav-logo img {
        width: 115px;
    }
    .nav-link ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-link ul li {
        padding: 0% 15px;
        list-style: none;
    }
    .nav-link ul li a {
        color: black;
        text-decoration: none;
    }
    .nav-link ul li a:hover {
        color: #A52A2A;
    }
    .div-content {
        display: flex;
        justify-content: space-between;
    }
    h3 {
        color: red;
        padding: 25px;
    }
    p {
        padding: 25px;
        color: rgb(117, 117, 117);
        font-size: 25px;
        text-align: center;
    }
    .div-content img {
        padding: 25px;
        width: 400px;
    }
    h2 {
        padding: 25px;
    }
}